* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-title {
  text-decoration: none;
  color: #7C6A0A;
  font-weight: 400;
  font-size: 1.25rem;
}
nav .nav-icons {
  list-style: none;
}
nav .nav-icons .nav-img {
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  order: 1;
  color: #7C6A0A;
}
article .impact-section h1 {
  font-weight: 600;
  font-size: 1.8rem;
}
article .impact-section p {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 1rem 0;
}
article .impact-section button {
  align-self: center;
  border-style: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: #FA9500;
}
article .impact-image {
  order: 0;
}
article .impact-image img {
  display: block;
  height: 360px;
  width: 100%;
}

.product-section {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
.product-section .healtcare, .product-section .furniture {
  padding-block: 1.8rem;
  color: #7C6A0A;
}
.product-section .healtcare h2, .product-section .furniture h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.product-section .healtcare .card-section, .product-section .furniture .card-section {
  display: flex;
  justify-content: space-between;
  gap: 1.7rem;
  padding-block: 1.5rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.product-section .healtcare .card-section .product-card, .product-section .furniture .card-section .product-card {
  position: relative;
  max-width: 300px;
  min-width: 220px;
  padding-inline: 1.5rem;
  padding-block: 2.5rem;
  background-color: #FFDAC6;
}
.product-section .healtcare .card-section .product-card img, .product-section .furniture .card-section .product-card img {
  display: block;
  height: 250px;
  width: 100%;
}
.product-section .healtcare .card-section .product-card h3, .product-section .healtcare .card-section .product-card .map p, .map .product-section .healtcare .card-section .product-card p, .product-section .furniture .card-section .product-card h3, .product-section .furniture .card-section .product-card .map p, .map .product-section .furniture .card-section .product-card p {
  padding-top: 1rem;
}
.product-section .healtcare .card-section .product-card p, .product-section .furniture .card-section .product-card p {
  font-size: 0.9rem;
}
.product-section .healtcare .card-section .product-card .icon, .product-section .furniture .card-section .product-card .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
}
.product-section .furniture .card-section .product-card {
  color: white;
  background-color: #BABD8D;
}

.info-section {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
.info-section h2 {
  color: #7C6A0A;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 4rem;
}
.info-section .mission-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.info-section .mission-section .mission {
  text-align: center;
}
.info-section .mission-section .mission img {
  width: 100px;
}
.info-section .mission-section .mission p {
  color: #E86424;
  font-size: 0.9rem;
  font-weight: 500;
}

.gallery {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
.gallery h2 {
  color: #7C6A0A;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2rem 0;
}
.gallery .gallery-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.gallery .gallery-section img {
  display: block;
  border-radius: 12px;
  width: auto;
  height: 300px;
}

.map {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
.map h2 {
  color: #7C6A0A;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2rem 0;
}
.map .map-image {
  width: 200px;
}
.map .map-image img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.map h3, .map p {
  color: #E86424;
  font-weight: 400;
  font-size: 1.25rem;
  padding-top: 1rem;
}
.map p {
  font-size: 0.8rem;
}

.inactive {
  display: none;
}

/*# sourceMappingURL=style.css.map */
