* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 650px) {
  nav {
    padding-block: 2rem;
    padding-inline: 3rem;
    height: 10vh;
  }
}
nav .nav-title {
  text-decoration: none;
  color: #7C6A0A;
  font-weight: 400;
  font-size: 1.25rem;
}
nav .nav-icons {
  list-style: none;
}
@media screen and (min-width: 650px) {
  nav .nav-icons {
    display: flex;
    gap: 1.25rem;
  }
  nav .nav-icons .menu {
    display: none;
  }
}
nav .nav-icons .profile, nav .nav-icons .heart-icon, nav .nav-icons .shopping {
  display: none;
}
@media screen and (min-width: 650px) {
  nav .nav-icons .profile, nav .nav-icons .heart-icon, nav .nav-icons .shopping {
    display: block;
  }
}
nav .nav-icons .nav-img {
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
@media screen and (min-width: 650px) {
  article {
    padding-inline: 3rem;
    flex-direction: row;
    align-items: center;
    height: 90vh;
  }
}
article .impact-section {
  display: flex;
  flex-direction: column;
  order: 1;
  color: #7C6A0A;
}
@media screen and (min-width: 650px) {
  article .impact-section {
    gap: 2rem;
    padding-block-start: 1rem;
    order: 0;
    width: 60%;
  }
}
article .impact-section h1 {
  font-weight: 600;
  font-size: 1.8rem;
}
@media screen and (min-width: 650px) {
  article .impact-section h1 {
    font-size: 3rem;
  }
}
article .impact-section p {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 1rem 0;
}
@media screen and (min-width: 650px) {
  article .impact-section p {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 80%;
  }
}
article .impact-section a {
  text-decoration: none;
  align-self: center;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  color: white;
  background-color: #FA9500;
}
article .impact-section a:hover {
  background-color: black;
}
@media screen and (min-width: 650px) {
  article .impact-section a {
    align-self: flex-start;
    font-size: 1.25rem;
  }
}
article .impact-image {
  order: 0;
}
@media screen and (min-width: 650px) {
  article .impact-image {
    order: 1;
    width: 40%;
  }
}
article .impact-image img {
  display: block;
  height: 360px;
  width: 100%;
  border-radius: 1rem;
}
@media screen and (min-width: 650px) {
  article .impact-image img {
    height: 70vh;
  }
}

.product-section {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
@media screen and (min-width: 650px) {
  .product-section {
    padding-inline: 3rem;
  }
}
.product-section .healtcare, .product-section .furniture {
  padding-block: 1.8rem;
  color: #7C6A0A;
}
.product-section .healtcare h2, .product-section .furniture h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 650px) {
  .product-section .healtcare h2, .product-section .furniture h2 {
    font-size: 1.8rem;
  }
}
.product-section .healtcare .card-section, .product-section .furniture .card-section {
  display: flex;
  justify-content: space-between;
  gap: 1.7rem;
  padding-block: 1.5rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
@media screen and (min-width: 650px) {
  .product-section .healtcare .card-section, .product-section .furniture .card-section {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5rem;
  }
}
.product-section .healtcare .card-section .product-card, .product-section .furniture .card-section .product-card {
  position: relative;
  max-width: 300px;
  min-width: 220px;
  padding-inline: 1.5rem;
  padding-block: 2.5rem;
  background-color: #FFDAC6;
}
@media screen and (min-width: 650px) {
  .product-section .healtcare .card-section .product-card, .product-section .furniture .card-section .product-card {
    width: 40%;
  }
}
.product-section .healtcare .card-section .product-card img, .product-section .furniture .card-section .product-card img {
  display: block;
  height: 250px;
  width: 100%;
}
.product-section .healtcare .card-section .product-card h3, .product-section .healtcare .card-section .product-card .map p, .map .product-section .healtcare .card-section .product-card p, .product-section .furniture .card-section .product-card h3, .product-section .furniture .card-section .product-card .map p, .map .product-section .furniture .card-section .product-card p {
  padding-top: 1rem;
}
.product-section .healtcare .card-section .product-card p, .product-section .furniture .card-section .product-card p {
  font-size: 0.9rem;
}
.product-section .healtcare .card-section .product-card .icon, .product-section .furniture .card-section .product-card .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
}
.product-section .healtcare .card-section .product-card .icon path:hover, .product-section .furniture .card-section .product-card .icon path:hover {
  fill: #7C6A0A;
}
.product-section .furniture .card-section .product-card {
  color: white;
  background-color: #BABD8D;
}
.product-section .furniture .card-section .product-card .icon path:hover {
  fill: white;
}

.info-section {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
@media screen and (min-width: 650px) {
  .info-section {
    padding-inline: 3rem;
  }
}
.info-section h2 {
  color: #7C6A0A;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 650px) {
  .info-section h2 {
    font-size: 1.8rem;
  }
}
.info-section .mission-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (min-width: 650px) {
  .info-section .mission-section {
    flex-direction: row;
    width: 70vw;
    margin: 0 auto;
  }
}
.info-section .mission-section .mission {
  text-align: center;
}
@media screen and (min-width: 650px) {
  .info-section .mission-section .mission {
    display: flex;
    align-items: center;
    width: 50%;
  }
}
.info-section .mission-section .mission img {
  width: 100px;
}
@media screen and (min-width: 650px) {
  .info-section .mission-section .mission img {
    width: 10vw;
  }
}
.info-section .mission-section .mission p {
  color: #E86424;
  font-size: 0.9rem;
  font-weight: 500;
}
@media screen and (min-width: 650px) {
  .info-section .mission-section .mission p {
    font-size: 1rem;
  }
}

.gallery {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
@media screen and (min-width: 650px) {
  .gallery {
    padding-inline: 3rem;
  }
}
.gallery h2 {
  color: #7C6A0A;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2rem 0;
}
@media screen and (min-width: 650px) {
  .gallery h2 {
    font-size: 1.8rem;
  }
}
.gallery .gallery-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media screen and (min-width: 650px) {
  .gallery .gallery-section {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
.gallery .gallery-section img {
  display: block;
  border-radius: 12px;
  width: auto;
  height: 300px;
}
.gallery .gallery-section img:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 650px) {
  .gallery .gallery-section img {
    width: 25vw;
    height: 50vh;
    object-fit: cover;
  }
}

.map {
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}
@media screen and (min-width: 650px) {
  .map {
    padding-inline: 3rem;
  }
}
.map h2 {
  color: #7C6A0A;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2rem 0;
}
@media screen and (min-width: 650px) {
  .map h2 {
    font-size: 1.8rem;
  }
}
.map .map-image {
  width: 200px;
}
.map .map-image img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.map .map-image img:hover {
  transform: scale(1.1);
}
.map h3, .map p {
  color: #E86424;
  font-weight: 400;
  font-size: 1.25rem;
  padding-top: 1rem;
}
.map p {
  font-size: 0.8rem;
  padding-bottom: 4rem;
}

footer {
  width: 100%;
  padding-block: 1.5rem;
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-color: #FA9500;
}
@media screen and (min-width: 650px) {
  footer {
    padding-inline: 3rem;
  }
}
footer h3, footer .map p, .map footer p {
  font-size: 1.25rem;
  font-weight: 500;
}
footer p {
  font-size: 0.8rem;
  font-weight: 400;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}
footer .social-icons img {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
