//Variables
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$text-color: #7C6A0A;

$font-stack: 'IBM Plex Sans', sans-serif;
$font-section: 'Montserrat', sans-serif;

// Mixin
@mixin flexCenter() {

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
}

body {
    background-color: $primary-color;
}

nav {
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-title {
        text-decoration: none;
        color: $text-color;
        font-weight: 400;
        font-size: 1.25rem;
    }
    .nav-icons {
        list-style: none;
        .nav-img {
            display: block;
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    .impact-section {
        display: flex;
        flex-direction: column;
        order: 1;
        color: $text-color;
        h1 {
            font-weight: 600;
            font-size: 1.8rem;
        }
        p {
            font-weight: 400;
            font-size: .7rem;
            line-height: 1rem;
            padding: 1rem 0;
        }
        button {
            align-self: center;
            border-style: none;
            padding: 0.8rem 1.5rem;
            border-radius: 1.25rem;
            font-weight: bold;
            color: white;
            background-color: $quaternary-color;
        }
    }
    .impact-image {
        order: 0;
        img {
            display: block;
            height: 360px;
            width: 100%;
        }
    }
}


.product-section {
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    .healtcare {
        padding-block: 1.25rem;
        color: $text-color;
        h2 {
            font-family: $font-section;
            font-weight: 500;
            font-size: 1.25rem;
            padding-bottom: 2rem;
        }
        .card-section {
            display: flex;
            gap: 1rem;
            padding-block: 1.5rem;
            .product-card {
                // max-height: 400px;
                position: relative;
                max-width: 300px;
                min-width: 240px;
                padding-inline: 1.5rem;
                padding-block: 2.5rem;
                background-color: $secondary-color;
                img {
                    display: block;
                    height: 250px;
                    width: 100%;
                }
                h3 {
                    padding-top: 1rem;
                }
                p {
                    font-size: .8rem;
                }
                .icon {
                    position: absolute;
                    top: .5rem;
                    right: .4rem;
                }
            }

        }
    }
}





.inactive {
    display: none;
}