//Variables
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$text-color: #7C6A0A;

$font-stack: 'IBM Plex Sans', sans-serif;
$font-section: 'Montserrat', sans-serif;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
}

body {
    background-color: $primary-color;
}