article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    .impact-section {
        display: flex;
        flex-direction: column;
        order: 1;
        color: $text-color;
        h1 {
            font-weight: 600;
            font-size: 1.8rem;
        }
        p {
            font-weight: 400;
            font-size: .7rem;
            line-height: 1rem;
            padding: 1rem 0;
        }
        button {
            align-self: center;
            border-style: none;
            padding: 0.8rem 1.5rem;
            border-radius: 1.25rem;
            font-weight: bold;
            color: white;
            background-color: $quaternary-color;
        }
    }
    .impact-image {
        order: 0;
        img {
            display: block;
            height: 360px;
            width: 100%;
        }
    }
}