.map {
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    h2 {
        color: $text-color;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 2rem 0;
    }
    .map-image {
        width: 200px;
        img {
            display: block;
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }
    h3 {
        color: #E86424;
        font-weight: 400;
        font-size: 1.25rem;
        padding-top: 1rem;
    }
    p {
        @extend h3;
        font-size: .8rem;
    }
}